NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= # https://generate-secret.vercel.app/32

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# https://brandscale.dev/tokens
BRANDSCALE_API_TOKEN=
BRANDSCALE_API_URL=
BRANDSCALE_SITE_ID=

# https://docs.npmjs.com/creating-and-viewing-authentication-tokens
NPM_TOKEN=